{% macro tabs() -%}<nav class="lt-tabs" data-ui-component="life-tracker/navigation/tabs" data-ui-variant="default"><a class="lt-tab is-active" href="#">Diario</a><a class="lt-tab" href="#">Semana</a><a class="lt-tab" href="#">Historial</a></nav>{%- endmacro %}
{% macro showcase() -%}{{ tabs() }}{%- endmacro %}
